{% extends 'base.html' %}
{% block content %}
{% load static %}

<div style="height:100px"></div>
<div style="width:50%; margin:auto; display:grid; grid-template-columns: 70% 20%">
    <div class="emoji_grid" style="text-align:center; display:grid; grid-template-columns: auto auto auto auto auto auto auto">
        {% for emoji in emoji_list %}
            <span class="emoji" style="border:solid; border-width:1px; width:auto; font-size:30px" onclick="emoji_change(this)">{{emoji|safe}}</span>
            <input type="hidden" id="emoji{{emoji.id}}" value="{{emoji}}">
        {% endfor %}
    </div>
    <div style="text-align: center;">
        <p style="font-size:30px;">
            <span>내 이모지 : </span>
            <span id="selected_emoji">{{my_emoji|safe}}</span>
            <input type="hidden" id="selected_emoji2" value="{{my_emoji}}">
        </p>
        <p>
        <button onclick="emoji_save()">저장하기</button>
        <button onclick="location.href='{% url 'profile:mypage' %}'">돌아가기</button>
        </p>
    </div>
</div>

<script src = "{%static 'accounts/emoji_select.js'%}">
//3. class 가 emoji 인 button에 click 이벤트를 등록해 주세요.
</script>

{% endblock %}