{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src = "/static/scripts.js"></script>
<link href="/static/styles.css" rel="stylesheet" />

        <!-- Navigation-->

        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">What'SUB?</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">Check real-time subway information</h2>
                        <a class="btn btn-primary" href="#about">All Post</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">Dzangoeun mosmallyeo composition is</h2>
                        <p class="text-white-50">
                            Jo Young-chan is a trouser manager, and the real power is Jin Min-ji.
                        To give vitality to the team, Jung Hyun-ji is the cheerleader, and Kim Ye-chan plays the role of a scarecrow who does nothing. The actual team member1 is Jo Eun-Jung.
                            <a href="http://127.0.0.1:8000/accounts/signup/">the signup page.</a>
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="/static/assets/img/sub1.gif" alt="..." />
            </div>
        </section>
        <!-- Projects-->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="background: rgba(0,0,0,0.8) 100%;">
            <div class="carousel-indicators">
                {% for mainroom in rooms %}
                    {% if mainroom.id == 1%}
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    {% else %}
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{mainroom.id|add:-1}}" aria-label="Slide {{mainroom.id}}}"></button>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="carousel-inner" style="text-align: center;" id="projects">
                {% for mainroom in rooms %}
                    {% if mainroom.id == 1 %}
                        <div class="carousel-item active" id="projects{{mainroom.id}}" style="background-image: url('/static/assets/img/smap_sg{{mainroom.id}}.png');background-size: contain;background-repeat: no-repeat;background-position: center;">
                            <br><br><br><br><br><br><br><br><br>
                                <div class=" text-center text-lg-left" >
                                    <h1 style="padding: 10px; text-align: center; color:white">{{mainroom.name}}</h1><br><br>
                                    <a href="{% url 'chat:room' mainroom.slug %}" class="px-5 py-3" style="color:white; background-color: #0052A4">채팅방</a>
                                    <a href="{% url 'free:list' mainroom.id %}" class="px-5 py-3 " style="color:white; background-color: #0052A4">게시판</a>
                                </div>
                            <br><br><br><br><br><br><br><br><br>
                        </div>
                    {% else %}
                        <div class="carousel-item" id="projects{{mainroom.id}}" style="background-image: url('/static/assets/img/smap_sg{{mainroom.id}}.png');background-size: contain;background-repeat: no-repeat;background-position: center;">
                            <br><br><br><br><br><br><br><br><br>
                                <div class=" text-center text-lg-left">
                                    <h1 style="padding: 10px; text-align: center; color:white">{{mainroom.name}}</h1><br><br>
                                    <a href="{% url 'chat:room' mainroom.slug %}" class="px-5 py-3"
                                       {% if mainroom.id == 2 %}
                                            style="color:white; background-color: #009D3E"
                                       {% elif mainroom.id == 3 %}
                                            style="color:white; background-color: #EF7C1C"
                                       {% elif mainroom.id == 4 %}
                                            style="color:white; background-color: #00A5DE"
                                       {% elif mainroom.id == 5 %}
                                            style="color:white; background-color: #996CAC"
                                       {% elif mainroom.id == 6 %}
                                            style="color:white; background-color: #CD7C2F"
                                       {% elif mainroom.id == 7 %}
                                            style="color:white; background-color: #747F00"
                                       {% elif mainroom.id == 8 %}
                                            style="color:white; background-color: #EA545D"
                                       {% elif mainroom.id == 9 %}
                                            style="color:white; background-color: #BDB092"
                                       {% elif mainroom.id == 10 %}
                                            style="color:white; background-color: #77C4A3"
                                       {% endif %}
                                    >채팅방</a>
                                    <a href="{% url 'free:list' mainroom.id %}" class="px-5 py-3 "
                                    {% if mainroom.id == 1 %}
                                            style="color:white; background-color: #0052A4"
                                       {% elif mainroom.id == 2 %}
                                            style="color:white; background-color: #009D3E"
                                       {% elif mainroom.id == 3 %}
                                            style="color:white; background-color: #EF7C1C"
                                       {% elif mainroom.id == 4 %}
                                            style="color:white; background-color: #00A5DE"
                                       {% elif mainroom.id == 5 %}
                                            style="color:white; background-color: #996CAC"
                                       {% elif mainroom.id == 6 %}
                                            style="color:white; background-color: #CD7C2F"
                                       {% elif mainroom.id == 7 %}
                                            style="color:white; background-color: #747F00"
                                       {% elif mainroom.id == 8 %}
                                            style="color:white; background-color: #EA545D"
                                       {% elif mainroom.id == 9 %}
                                            style="color:white; background-color: #BDB092"
                                       {% elif mainroom.id == 10 %}
                                            style="color:white; background-color: #77C4A3"
                                       {% endif %}
                                    >게시판</a>
                                </div>
                            <br><br><br><br><br><br><br><br><br>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Signup-->

        <!-- Contact-->
        <section class="contact-section bg-black" id="content">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Address</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">경기도 고양시 덕양구 화정동 974 화정터미널 2층</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="#!">corngang@naver.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Phone</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">010-2224-8653</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://instagram.com/0___chaaaniii?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a>
                    <a class="mx-2" href="https://github.com/JinMinji/SubChat"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Your Website 2022</div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


{% endblock %}