{% load static %}
<link rel="stylesheet" href="{% static 'profileapp/mypage.css' %}">

<div style="height:20px"></div>
<h3>비밀번호 변경하기</h3>

<form method="post" action=".">
    {% csrf_token %}
    {% include "form_errors.html" %}
    <label style="width: 10px;">current password: </label>
    <input type="password" name="old_password" id="old_password" class="form-control input-lg" value="{{form.old_password.value|default_if_none:''}}"/>
    <br>
    <br>
    <label style="width: 10px;">new password: </label>
    <input type="password" name="new_password1" id="new_password1" class="form-control input-lg" value="{{form.new_password1.value|default_if_none:''}}"/>
    <br>

    <label>new password confirmation: </label>
    <input type="password" name="new_password2" id="new_password2" class="form-control input-lg" value="{{form.new_password2.value|default_if_none:''}}"/>
    <br>
    <button type="submit">변경하기</button>
</form>