{% load static %}
<link rel="stylesheet" href="{% static 'profileapp/mypage.css' %}">

<div class="passwordchange">
<div style="height:20px"></div>
<h1>비밀번호 변경하기</h1>

<form method="post" action=".">
    {% csrf_token %}
    {% include "form_errors.html" %}
    <div>
    <br>
        <br>
    <input style = "width: 25rem; height:3rem; margin:auto;" type="password" name="old_password" id="old_password" class="form-control input-lg" value="{{form.old_password.value|default_if_none:''}}" placeholder="current password "/>
    <br>
    <br>
    </div>
    <div>
        <label style="width: 10px;padding-bottom:5%;">비밀번호는 반드시 8자 이상이어야 하며 영문과 숫자, 특수문자를 반드시 포함해야 합니다.<br></label>
   <br>
    <input style = "width: 25rem; height:3rem; margin-bottom:5%;" type="password" name="new_password1" id="new_password1" class="form-control input-lg" value="{{form.new_password1.value|default_if_none:''}}" placeholder="new password"/>
    <br>
    <br>
    </div>
    <div>
    <input style = "width: 25rem; height:3rem; margin:auto;" type="password" name="new_password2" id="new_password2" class="form-control input-lg" value="{{form.new_password2.value|default_if_none:''}}" placeholder="new password confirmation"/>
    <br>
         <button type="submit" style = "width: 20rem; height: 3rem; background-color: #787878; color:white;">변경하기</button>
     </div>

</form>
    </div>