{% load static %}

<link href="{% static 'profileapp/emoji_select.css' %}" rel="stylesheet" >
<div style="width:100%; margin:auto; display:grid; grid-template-columns: 80% 20%">
    <div class="emoji_grid" style="text-align:center; display:grid; grid-template-columns: auto auto auto auto auto auto auto">
        {% for emoji in emoji_list %}
            <span class="emoji" onclick="emoji_change(this)">{{emoji|safe}}<input type="hidden" value="{{emoji.id}}"></span>
        {% endfor %}
    </div>
    <div style="text-align: center;">
        <p>
            <span>내 이모지 : </span>
            <span id="selected_emoji" style="font-size:30px;"> {{my_emoji|safe}} </span>
            <input type="hidden" id="selected_emoji2" value="{{my_emoji.id}}">
        </p>
        <p>
        <button onclick="emoji_save()">저장하기</button>
        <button onclick="window.close()">닫기</button>
        </p>
    </div>
</div>

<script src = "{%static 'profileapp/emoji_select.js'%}">
//3. class 가 emoji 인 button에 click 이벤트를 등록해 주세요.
</script>
