{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'profileapp/mypage.css' %}">
<link href="{% static 'profileapp/emoji_select.css' %}" rel="stylesheet" >

<body></body>
<div class="mypage">
    <div class = "page">
        <div class="page2">
            <div class="box" style="background: #fff;">
                <div onclick="window.open(href='{% url 'profile:emoji'%}','이모지변경','width=600,height=700,location=no,status=no,scrollbars=yes');" style="text-align: center; font-size:70pt; cursor:pointer">{{my_emoji|safe}}</div>
            </div>
                <h1 style="text-align: center;">{{user}} Page</h1>
        </div>
    </div>

    <div class = "aside" >
        <h2 style="text-align:center;">기본정보 수정</h2>
        <br>
        <span onclick="window.open(href='{% url 'profile:change_password'%}','비밀번호변경','width=400,height=500,location=no,status=no,scrollbars=yes');" style="float:right; cursor:pointer; border: 1px solid #b4b4b4; border-radius: 0.25rem; padding: 5px; margin-bottom:10px">비밀번호 변경</span>
        <br>
        <form method="post" action=".">
         {% csrf_token %}
         {% include "form_errors.html" %}
            <label>ID: </label>
            <input name="username" id="username" type="text" class="form-control input-lg" value="{{form.username.value|default_if_none:''}}" disabled/>
            <br>
            <label>email: </label>
            <input type="email" name="email" id="email" class="form-control input-lg" value="{{form.email.value|default_if_none:''}}"/>
            <br>
            <label>Birth Date : </label>
            <input type="date" id="birth" name="birth" class="form-control input-lg" value="{{user.birth|date:'Y-m-d'}}">
            <br>
            <label>Gender : </label>
            {%if form.gender.value == 'M'%}
                <label class="radio-inline">
                    <input type="radio" name="gender" value="M" id=male checked="True" /> Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" value="F" id=female /> Female
                </label>
            {%else%}
            <label class="radio-inline">
                    <input type="radio" name="gender" value="M" id=male /> Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" value="F" id=female checked="True"/> Female
                </label>
            {%endif%}
            <br>
            <br>
            <button class="btn btn-lg btn-primary btn-block signup-btn " style = "margin-right: 35%;" type="submit">수정하기</button>
        </form>
        </div>
        <div class="section">
            <div class ="section2" style="overflow-y:scroll; height:50%; border-collapse:collapse;" >
                <th>
                    <h4 style = "text-align: center; padding-top: 10px; "><span><strong>내가 쓴 글</strong></span></h4>
                </th>

                <div class = "container2 d-flex justify-content-center">
                    <table style = "width: 100%; text-align:center; width: 100%; border-bottom: 1px solid black;">
                        <tr style = "border-bottom: 1px solid black; border-top: 1px solid black;" >
                            <th>no</th>
                            <th>제목</th>
                            <th>작성일</th>
                            <th>댓글수</th>
                            <th>조회수</th>
                        </tr>
                        {% for post in my_post_list%}
                            <tr onclick="location.href='/free/post/{{post.id}}'" style="cursor:pointer; ">
                                <td>{{post.id}}</td>
                                <td style="text-align:left; min-width:150px">
                                    <span><strong>{{post.title}}</strong></span>
                                </td>
                                <td style="max-width:100px">{{post.create_date|date:'y.m.d H:i'}}</td>
                                <td>{{post.comment_set.all.count}}</td>
                                <td>{{post.view_cnt}}</td>
                            </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>

            <div class ="section2" style="overflow-y:scroll; height:50%; border-collapse:collapse; border-top: 1px solid black;">
                <th>
                    <h4 style = "text-align: center;"><span><strong>북마크 한 글</strong></span></h4>
                </th>
                <div class = "container2 d-flex justify-content-center" >
                    <table style = "text-align:center; width: 100%; border-bottom: 1px solid black;">
                        <tr style = "border-bottom: 1px solid black; border-top: 1px solid black;">
                            <th>no</th>
                            <th>제목</th>
                            <th>작성일</th>
                            <th>댓글수</th>
                            <th>조회수</th>
                        </tr>
                        {% for post in my_bookmark_list%}
                            <tr onclick="location.href='/free/post/{{post.id}}'" style="cursor:pointer">
                                <td>{{post.id}}</td>
                                <td style="text-align:left; min-width:150px">
                                    <span><strong>{{post.title}}</strong></span>
                                </td>
                                <td style="max-width:100px">{{post.create_date|date:'y.m.d H:i'}}</td>
                                <td>{{post.comment_set.all.count}}</td>
                                <td>{{post.view_cnt}}</td>
                            </tr>
                        {%endfor%}
                        </table>
                    </div>
                </div>
        </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src = "{%static 'profileapp/emoji_select.js'%}"></script>
{% endblock %}